body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f2f2f2;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}
